/*
 * color scheme
 * https://color.adobe.com/Neutral-Blue-color-theme-22361/
 * white:   #FCFFF5
 * bright:  #D1DBBD
 * mid:     #91AA9D
 * blue:    #3E606F
 * dark:    #193441
*/

body  {
  color: #3E606F;
  background: #FCFFFA;
}

ul#props_list {
  width: 900px;
  list-style-type:  none;
}

ul#props_list li  {
  border-bottom: 1px solid;
}

article.property  {
  position: relative;
  min-height: 170px;
}

div.middlecol {
  margin-left: 170px;
}

div.leftcol {
  position: absolute;
  left: 0;
  top: 0;
}

div.leftcol img {
  position: absolute;
}

div.prop_letter  {
  position: relative;
  z-index: 2;
  width: 25px;
  height: 20px;
  text-align: center;
  background-color: #e6e6e6;
}

div.rightcol {
  position: absolute;
  right:0;
  top: 0;
}
