body  {
  color: grey;
}

ul#props_list {
  width: 900px;
  list-style-type:  none;
}

ul#props_list li  {
  border-bottom: 1px solid;
}

article.property  {
  position: relative;
  min-height: 170px;
}

div.middlecol {
  margin-left: 170px;
}

div.leftcol {
  position: absolute;
  left: 0;
  top: 0;
}

div.leftcol img {
  position: absolute;
  z-index: -1;
}

div.prop_letter  {
  width: 25px;
  height: 20px;
  text-align: center;
  background-color: #e6e6e6;
}

div.rightcol {
  position: absolute;
  right:0;
  top: 0;
}
