doctype html
html(lang="en")
  head
    title Configure Property Listing
    link(rel='stylesheet', href='/static/styles.css')
    link(rel='stylesheet', href='/static/config.css')

  body
    h1 Configure Property Listing

    form.form-settings(method="POST")
      div.settings-main
        div.settings-head
          h2 Settings
        div.settings-detail
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="string" name="location" value="#{config.location}")
            span Location
            p.description Specify the area to search properties for
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="number" name="min_rent" value="#{config.min_rent}")
            span Minimum Rent (&#163;)
            p.description Minimum rent per month filter
          div.form-field
            div.form-field-value
              input.form-input.input-string(type="number" name="max_rent" value="#{config.max_rent}")
            span Maximum Rent (&#163;)
            p.description Maximum rent per month filter
        div.settings-footer
          input.input-button.input-submit(type="submit" value="Save")



