doctype html
html(lang="en")
  head
    title Latest Property Listing
    link(rel='stylesheet', href='/static/styles.css')

  body
    h1 Latest Property Listing

    ul#props_list

      li
        section.properties
          article.property
            div.prop_title
              p Charls Road, London, XX0
            div.prop_keywords
              p 3 Bed * 1 Bath * Kitchen
            div.prop_description
              p Room set in this brilliant sized three bedroom home is soon to be available! offering so much space
            div.prop_footer
              p First seen on zoopla
            div.prop_cost
              p 400

      li
        section.properties
          article.property
            div.prop_title
              p Queen Square, London, XX0
            div.prop_keywords
              p 1 Bed * 1 Bath * 1 Kitchen
            div.prop_description
              p Basic room description
            div.prop_footer
              p Added two weeks ago
            div.prop_cost
              p 600



