doctype html
html(lang="en")
  head
    title Latest Property Listing

  body
    h1 Latest Property Listing

    section.properties
      article#prop1.property
        div.prop_title
          p Charls Road, London, XX0
        div.prop_keywords
          p 3 Bed * 1 Bath * Kitchen
        div.prop_description
          p Room set in this brilliant sized three bedroom home is soon to be available! offering so much space
        div.prop_footer
          p First seen on zoopla
        div.prop_cost
          p 400

